* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  color: #000;
  transition: background 0.3s, color 0.3s;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body.dark nav {
  background: #020617;
  color: #ffffff;
  box-shadow: 0 3px 5px rgba(255, 255, 255, 0.15);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

body.dark {
  background: #0f172a;
  color: #ffffff;
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(0, 1fr);
  grid-gap: 10px;
  padding: 0 20px;
  padding-top: 130px;
  padding-bottom: 20px;
  flex: 1;
}

.pic1 {
  background-image: url("../Img/Family/92ce3047-64de-4bd3-89a0-f1204f7e4ce3.JPG");
}

.pic2 {
  background-image: url("../Img/Family/da49637c-9293-42a6-aaa8-71c69b6263e3.JPG");
}

.pic3 {
  background-image: url("../Img/Family/e73db68e-2bd9-4f1b-b6e9-852c00f92152.JPG");
}

.pic4 {
  background-image: url("../Img/Family/607513428_18552795184035944_8354381508212869520_n.jpg");
}

.pic5 {
  background-image: url("../Img/Family/IMG_4150.jpg");
}

.pic6 {
  background-image: url("../Img/Family/PHOTO-2025-10-07-08-41-24.jpg");
}

.pic7 {
  background-image: url("../Img/Family/1ce56a94-0520-43a3-8c27-ce8e3b34c363.JPG");
}

.pic8 {
  background-image: url("../Img/Family/PHOTO-2023-09-26-09-38-13.jpg");
}

.pic9 {
  background-image: url("../Img/Family/PHOTO-2024-07-30-13-23-22.jpg");
}

.pic10 {
  background-image: url("../Img/Family/cf54879a-de1a-4e00-acab-b37c4acb028e.JPG");
}

.pic11 {
  background-image: url("../Img/Family/PHOTO-2025-04-17-21-31-09.jpg");
}

.pic12 {
  background-image: url("../Img/Family/PHOTO-2025-04-17-21-31-31.jpg");
}

.pic13 {
  background-image: url("../Img/Family/PHOTO-2025-06-02-13-27-15.jpg");
}

.pic14 {
  background-image: url("../Img/Family/PHOTO-2025-06-30-18-14-08.jpg");
}

.pic15 {
  background-image: url("../Img/Family/PHOTO-2025-09-30-17-08-17.jpg");
}

.pic16 {
  background-image: url("../Img/Family/91a851d7-ae52-4d10-ab9f-455f99d034de.JPG");
}

.pic17 {
  background-image: url("../Img/Family/5e892a04-bb4a-4372-b38b-6effe8501c4d.JPG");
}

.pic1,
.pic2,
.pic3,
.pic4,
.pic5,
.pic6,
.pic7,
.pic8,
.pic9,
.pic10,
.pic11,
.pic12,
.pic13,
.pic14,
.pic15,
.pic16,
.pic17 {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  transition: all 0.3s ease;
  min-height: 450px;
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
  animation: moveup 0.5s forwards;
}

.pic1:hover,
.pic2:hover,
.pic3:hover,
.pic4:hover,
.pic5:hover,
.pic6:hover,
.pic7:hover,
.pic8:hover,
.pic9:hover,
.pic10:hover,
.pic11:hover,
.pic12:hover,
.pic13:hover,
.pic14:hover,
.pic14:hover,
.pic15:hover,
.pic16:hover,
.pic17:hover {
  transform: translateY(-5px);
}

.pic1 {
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
}

.pic6 {
  height: 100%;
  grid-row-start: 5;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 5;
}

.pic12 {
  height: 100%;
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 3;
}


.anim {
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.5s linear forwards;
}

.container.anim {
  animation-delay: 0.2s;
}

@keyframes moveup {
  100% {
    opacity: 1;
    transform: translateY(-2px);
  }
}

/* Mobile (Phone) Media Query */
@media (max-width: 576px) {

  .container {
    padding: 0 8px;
    padding-top: 75px;
    padding-bottom: 10px;
  }

  .pic1,
  .pic2,
  .pic3,
  .pic4,
  .pic5,
  .pic6,
  .pic7,
  .pic8,
  .pic9,
  .pic10,
  .pic11,
  .pic12,
  .pic13,
  .pic14,
  .pic15,
  .pic16,
  .pic17 {
    min-height: 100%;
  }
}
