nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background: #ffffff;
  color: #000;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, color 0.3s;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 200;
  top: 0;
}

h1 {
  min-width: 200px;
  width: 300px;
  margin-left: 5px;
}

marquee {
  font-size: 30px;
  font-weight: bold;
  width: 350px;
  font-style: italic;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  column-gap: 10px;
  margin-left: 15px;
  font-weight: bold;
}

a,
button {
  text-decoration: none;
  background: #e0e0e0;
  color: black;
  padding: 6px 12px;
  border-radius: 6px;
  margin-right: 8px;
  transition: all 0.5s ease;
  border: none;
  cursor: pointer;
}

a:hover {
  opacity: 0.7;
}

a:hover {
  border-bottom-left-radius: 0;
  border-top-right-radius: 0;
}

body.dark .menu a {
  background: #1e293b;
  color: #ffffff;
}

/* Mobile (Phone) Media Query */
@media (max-width: 576px) {
  nav {
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }

  h1 {
    font-size: 12px;
    margin-left: 5px;
    flex-shrink: 0;
    min-width: 70px;
    max-width: 70px;
    line-height: 15px;
  }

  marquee {
    font-size: 10px;
    width: 100px;
    flex: 1;
    min-width: 100px;
    margin-left: 7px;
  }

  ul {
    flex-wrap: nowrap;
    font-size: 10px;
    column-gap: 0px;
    margin-left: 7px;
  }

  a,
  button {
    padding: 3px 6px;
    margin-right: 5px;
    font-size: 10px;
  }

  button {
    margin-right: 5px;
    padding: 2.5px 5px;
  }
}
