* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

body {
  background: #ffffff;
  color: #000;
  transition: background 0.3s, color 0.3s;
}

body.dark {
  background: #0f172a;
  color: #ffffff;
}

body.dark nav {
  background: #020617;
  color: #ffffff;
  box-shadow: 0 3px 5px rgba(255, 255, 255, 0.15);
}

.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-row-gap: 10px;
  padding: 0 20px;
  padding-top: 100px;
}

img {
  width: 100%;
  border-radius: 5px;
  cursor: pointer;
}

.pic1,
.pic2,
.pic3,
.pic4,
.pic5,
.pic6,
.pic7,
.pic8,
.pic9,
.pic10,
.pic11,
.pic12,
.pic13,
.pic14,
.pic15 {
  object-fit: cover;
  object-position: center;
  transition: all 0.4s ease;
}

.pic1:hover,
.pic2:hover,
.pic3:hover,
.pic4:hover,
.pic5:hover,
.pic6:hover,
.pic7:hover,
.pic8:hover,
.pic9:hover,
.pic10:hover,
.pic11:hover,
.pic12:hover,
.pic13:hover,
.pic14:hover,
.pic14:hover,
.pic15:hover,
video:hover {
  transform: translateY(-5px);
}

.pic1 {
  height: 100%;
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
}

.pic6 {
  height: 100%;
  grid-row-start: 5;
  grid-row-end: 3;
  grid-column-start: 3;
  grid-column-end: 5;
}

.pic12 {
  height: 100%;
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 1;
  grid-column-end: 3;
}

video {
  width: 100%;
  height: 75%;
  border-radius: 3px;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.4s ease;
}

.vd {
  height: 100%;
  grid-row-start: 5;
  grid-row-end: 6;
  grid-column-start: 3;
  grid-column-end: 5;
}

.anim {
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.5s linear forwards;
}

.container.anim {
  animation-delay: 0.2s;
}

@keyframes moveup {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* Mobile (Phone) Media Query */
@media (max-width: 576px) {

  .container {
    padding: 0 8px;
    padding-top: 75px;
  }
}